fastapi>=0.100.0,<1.0.0
uvicorn>=0.27.0,<1.0.0
sqlalchemy>=2.0.0,<2.1.0
asyncmy>=0.2.9,<1.0.0
alembic>=1.13.0,<2.0.0
pydantic>=2.5.0,<3.0.0
pydantic-settings>=2.1.0,<3.0.0
passlib
bcrypt==4.0.1
python-jose[cryptography]
redis
# boto3
python-multipart
email-validator
google-auth
requests
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
apscheduler==3.11.3
slowapi==0.1.10
Pillow
phonenumbers==9.0.34
gunicorn
sentry-sdk[fastapi]
httpx
python-dateutil
